[versions]
# build config
compileSdk = "33"
minSdk = "23"
targetSdk = "33"
java-major = "11"
java = "11"
config-plugin = "0.1.2"
versionCode="1"
versionName="1.0.0"
applicationId="com.symbol.composehello"
# official library
kotlin = "1.6.0"
kotlin-coroutines = "1.6.0-RC2"
ktor = "1.6.7"
android-plugin = "7.0.4"
androidx-appcompat = "1.4.0"
lifecycle = "2.3.1"
compose = "1.2.1"
accompanist = "0.21.2-beta"
hilt = "2.40.5"
hilt-compose = "1.0.0-beta01"
room = "2.3.0"
# test
junit = "4.13.2"
androidx-junit = "1.1.3"
espresso-core = "3.4.0"
androidx-test = "1.4.0"

[libraries]
# official library
appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidx-appcompat" }
androidx-lifecycle-runtime-ktx = "androidx.lifecycle:lifecycle-runtime-ktx:2.4.0"
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlin-coroutines" }
ktor-client-core = { module = "io.ktor:ktor-client-core", version.ref = "ktor" }
ktor-client-cio = { module = "io.ktor:ktor-client-cio", version.ref = "ktor" }
# plugin dependencies
plugin-source-android = { module = "com.android.tools.build:gradle", version.ref = "android-plugin" }
plugin-source-kotlin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
# compose
androidx-activity-compose = "androidx.activity:activity-compose:1.4.0"
compose-uiTooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
compose-material = { module = "androidx.compose.material3:material3", version = "1.0.0-alpha02" }
compose-icons-extended = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-paging = "androidx.paging:paging-compose:1.0.0-alpha14"
compose-navigation = "androidx.navigation:navigation-compose:2.4.0-beta02"
compose-flowLayout = { module = "com.google.accompanist:accompanist-flowlayout", version.ref = "accompanist" }
compose-navigationAnimiaton = { module = "com.google.accompanist:accompanist-navigation-animation", version.ref = "accompanist" }
compose-placeholder = { module = "com.google.accompanist:accompanist-placeholder-material", version.ref = "accompanist" }
# room
room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }

[plugins]
android-application = { id = "com.android.application", version.ref = "android-plugin" }
android-library = { id = "com.android.library", version.ref = "android-plugin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }
hilt-android = { id = "dagger.hilt.android.plugin", version.ref = "hilt" }

[bundles]
compose-core = ["androidx-activity-compose", "compose-uiTooling", "compose-material"]
compose-navigation = ["compose-navigation", "compose-navigationAnimiaton"]
compose-jetpack = ["compose-paging"]
room = ["room-runtime", "room-ktx"]